.loader{
    width: 100%;
    height: 150px;
    position: relative;
}
.loader-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    animation-name: fade;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
.none {
    display: none;
}